@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
html,
body {
  background-color: #fff;
  font-family: "Sarabun", sans-serif;
  color: #7b7878 !important;
  overflow-x: hidden;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 393px;
  min-height: 852px;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 393px;
  height: 852px;
}

.bottom {
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  display: flex;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  background-color: #fff;
  width: 393px;
}

.bottom-btn {
  position: fixed;
  bottom: 0;
  justify-content: center;
  display: flex;
  z-index: 1000;
  width: 380px;
  margin-bottom: 30px;
}
.box-search-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  margin-left: 15px;
  height: 70px;
}

.box-search-item-preorder {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  margin-left: 15px;
  height: 100%;
}

.search-item {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.input {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 72%;
  height: 40px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.input-address {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
.btn-add-item {
  border-radius: 10px;
  width: 20%;
  height: 40px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: #f1f1f1 1px solid;
}

.box-points {
  background-color: #f9f9f9;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  height: 115px;
}

.box-points-profile {
  background-color: #f9f9f9;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -80px;
  border-radius: 20px;
  height: 200px;
}

.box-points-profile-left {
  background-color: #fff;
  width: 152px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 79px;
  margin-top: 80px;
}

.dialog-success {
  position: fixed;
}

.box-points-left {
  background-color: #fff;
  width: 152px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 79px;
}

.box-points-profile-right {
  margin-top: 80px;
}

.point {
  display: flex;
  justify-content: space-evenly;
}

.point2 {
  display: flex;
  justify-content: left;
}

.icon-point {
  border: #d1d0d0 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.icon-point2 {
  background-color: #d1d0d0;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin-left: 1px;
  margin-top: 1px;
}

.icon-point-reward2 {
  background-color: #d1d0d0;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin-left: 1px;
  margin-top: 1px;
}

.icon-point-reward {
  border: #d1d0d0 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.point-detail {
  border-radius: 10px;
  height: 28px;
  width: 150px;
}

.card-item-slider {
  width: 141px;
  height: 99px;
  border-radius: 20px;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.card-item-image-slider {
  width: 141px;
  height: 174px;
  border-radius: 20px;
  margin-top: 20px;
}

.toolbar {
  position: fixed; /* กำหนดให้ติดตั้งอยู่แน่นหน้าจอ */
  top: 0; /* ติดตั้งไว้ด้านล่างของหน้าจอ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 999;
  background-color: #fff;
  width: 393px;
  height: 70px;
}

.box-search-item2 {
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20px;
  height: 895px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.box-chk-item {
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20px;
  height: 765px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.box-search-item-preorder {
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.box-item {
  margin-top: 20px;
  background-color: #fff;
  width: 340px;
  height: 105px;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.box-item-preorder {
  margin-top: 20px;
  background-color: #fff;
  width: 360px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
  align-items: start;
}

.box-item-station {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #fff;
  width: 360px;
  height: 142px;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
}

.img-item {
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 98px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item-preorder {
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 98px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.btn-add-item-search {
  border-radius: 10px;
  width: 92px;
  height: 30px;
  padding: 0;

  border: #f1f1f1 1px solid;
}

.btn-add-item-cart {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  padding: 0;
  margin-top: 5px;
  margin-right: 10px;
  border: #f1f1f1 1px solid;
}

.btn-add-item-search-success {
  border-radius: 10px;
  width: 110px;
  height: 30px;
  padding: 0;

  border: #60d36c 1px solid;
}

.box-image-product-detail {
  background-color: #f1f1f1;
  height: 420px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box-image-product {
  width: 207px;
  height: 278px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.text-product-detail-container {
  padding-left: 20px;
  display: flex;
  justify-content: left;
  height: 250px;
}

.text-product-detail-left {
  width: 130px;
}

.css-uwi3e2-MuiTabs-indicator {
  position: fixed;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
}

.product-index-container {
  height: 610px;
}

.box-stock {
  width: 90%;
  height: 129px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  justify-content: center;
}

.bg-login {
  background-color: #b6b6b6;
  width: 100%;
  height: 218px;
}

.bg-regis {
  background-color: #b6b6b6;
  width: 100%;
  height: 100px;
}

.regis-container {
  margin-top: -30px;
  background-color: #fff;
  display: block;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.edit-container {
  background-color: #fff;
}

.login-container {
  margin-top: -30px;
  background-color: #fff;
  width: 430px;
  height: 600px;
  border-radius: 20px 20px 0px 0px;
}

.bg-select-address {
  background-color: #f1f1f1;
  width: 100%;
  height: 37px;
  border-radius: 10px;
}

.bg-select-address2 {
  background-color: #f1f1f1;
  width: 100%;
  height: 37px;
  border-radius: 10px;
}

.select-address-container {
  display: flex;
  justify-content: space-between;
}

.btn-regis {
  width: 60%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #7b7878;
}

.btn-login {
  width: 60%;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #7b7878;
}

.box-order-list {
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.box-tabs {
  background-color: #d9d9d9;
  width: 95%;

  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  margin-top: 20px;
}

.box-tabs2 {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

/* เมื่อแท็บถูกเลือก */
.box-tabs .MuiTabs-root .Mui-selected {
  background-color: white; /* กำหนดสีพื้นหลังเมื่อถูกเลือก */
  color: #7b7878; /* กำหนดสีตัวอักษรเมื่อถูกเลือก */
  border-radius: 20px;
  margin: 5px;
}

.css-1qraw1m-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin-top: 0px;
}

.css-1qraw1m-MuiStepLabel-label {
  font-size: 12px !important;
}

.css-12zaef5 {
  font-size: 12px !important;
}

.css-12zaef5.MuiStepLabel-alternativeLabel {
  margin-top: 0px;
}

.box-status {
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 100%;
  height: 80px;
  border-radius: 20px;
}

.box-status-item {
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.box-cart {
  background-color: #d1d0d0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.box-chkout-address {
  height: 160px;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
}

.box-item-rewards {
  width: 169px;
  height: 208px;
  background-color: #f9f9f9;
  border-radius: 20px;
  margin: 12px;
  display: grid;
  justify-content: center;
  padding: 0px;
}

.img-item-reward {
  width: 150px;
  height: 127px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.img-detail-reward {
  width: 350px;
  height: 300px;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.box-btn-reward {
  background-color: #f1f1f1;
  width: 90%;
  height: 107px;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 10px;
}
